<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Тест</title>
</head>
<body>

<form action="/" method="post">
    <h2>Ваш комментарий к теме сохранен!</h2>
    <p>Тема: {{ title }}</p>
    <p>Имя: {{ name }}</p>
    <p>Дата: {{ date }}</p>
    <p>Комментарий: {{ comment }}</p>
    <p><input type="submit" value="Вернуться к темам"></p>
</form>

</body>
</html>